$black: #000000;
$gyay121212: #121212;
$gyay222222: #222222;
$gyay555555: #555555;
$white: #FFFFFF;
$green16A15E: #16A15E;
$chremF3F1EC: #F3F1EC;
$orangeEBBC52: #EBBC52;
$blue7A89E2: #7A89E2;
$pinkF6B3DC: #F6B3DC;
$grayD8D8D8: #D8D8D8;
$dark2c2c2c: #2c2c2c;
$lightyellow: #F5F2E9;
$black010101:#010101;
 



// iMac font sizes 
$h1-iMac-fs: 300px;
$h2-iMac-fs: 300px; //
$h3-iMac-fs: 300px; //
$h4-iMac-fs: 300px; //
$h5-iMac-fs: 300px; //
$h6-iMac-fs: 300px; //

 


// Desktop font sizes 
$h1-desktop-fs: 240px;
$h2-desktop-fs: 180px;
$h3-desktop-fs: 240px; //
$h4-desktop-fs: 240px; //
$h5-desktop-fs: 240px; //
$h6-desktop-fs: 240px; //


// Laptop font sizes 
$h1-laptop-fs: 210px;
$h2-laptop-fs: 144px;
$h3-laptop-fs: 72px;
$h4-laptop-fs: 36px;
$h5-laptop-fs: 210px; //
$h6-laptop-fs: 210px; //

// iPad font sizes 
$h1-ipad-fs: 190px;
$h2-ipad-fs: 190px; //
$h3-ipad-fs: 190px; //
$h4-ipad-fs: 190px; //
$h5-ipad-fs: 190px; //
$h6-ipad-fs: 190px; //
 

// Mobile font sizes 
$h1-mobile-fs: 90px;
$h2-mobile-fs: 72px;
$h3-mobile-fs: 54px;
$h4-mobile-fs: 90px; //
$h5-mobile-fs: 90px; //
$h6-mobile-fs: 90px; //



// lineHeight 

$line-Height-90 : 90%;
$line-Height-100 : 100%;

//
